*.venv/
.uv-cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.DS_Store

**/__pycache__/
*.py[cod]
*.egg-info
uv.lock

data/task_graphs
data/artifact-stores

logs/
/benchmarks/*
!/benchmarks/lifelong_agent_bench/
/benchmarks/lifelong_agent_bench/*
!/benchmarks/lifelong_agent_bench/docker/
/benchmarks/lifelong_agent_bench/docker/*
!/benchmarks/lifelong_agent_bench/docker/os-base/
!/benchmarks/lifelong_agent_bench/docker/os-base/Dockerfile

.env*
!.env.example

.codex
